<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  body {
    background: #121212;
    color: white;
}
.card {
    background: #1e1e1e;
    border: 1px solid #333;
    color: white;
}
.card .text-muted {
    color: #aaa !important;
}
.btn-primary {
    background: #007bff;
    border: none;
}
.btn-primary:hover {
    background: #0056b3;
}

</style>
<body>
    <h2>Create New Post</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Post</button>
</form>

</body>
</html>