Django>=4.2
gunicorn
openai
python-decouple
djangorestframework
Pillow
python-dotenv
django-crispy-forms
crispy-bootstrap4
whitenoise
dj-database-url
psycopg2-binary
cloudinary
django-cloudinary-storage
