.container.job-info-card {
    border: 2px solid white;
    border-radius: 15px;
    width: 65%;
    box-shadow: 0 1px 2px;
    margin-left: 4%;
    padding: 30px;
    background: #121212;
}

.job-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 5px;
}