

.resume-wrapper { 
    max-width: 1000px;
  margin: 0;
  display: flex;
  background: #fff;
  border-radius: 0; 
  box-shadow: none;  
}
.left-column { 
    color: rgb(0, 0, 0); 
    width: 35%; 
    padding: 30px; 
    border-right: 2px solid black;
}
.right-column { 
    color: black;
    width: 65%; 
    padding: 30px; 
}
.profile-pic { width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 20px; 
}
h2 { 
    color: #0d6efd; 
    border-bottom: 2px solid #ddd; 
    padding-bottom: 5px; 
    margin-top: 20px; 
}
h3 { 
    margin-top: 15px; 
    font-size: 1.1rem; 
}
ul { 
    padding-left: 20px; 
}
a {
     color: white; 
     text-decoration: none; 
    }
a:hover {
     text-decoration: underline; 
    }