.res-c{
    background-color: #272727;
    width: 69%;
    border-radius: 25px;
    padding: 50px;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.panel{
    display: flex;
    gap: 75px;
    position: relative;
    left: 11%;
}
.panel img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
}

.panel img:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: relative;
}
